#logo-container {
  height: 100px;
  aspect-ratio: 1/1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

}

#img-daddy {
  height: 200px;
  aspect-ratio: 4/3;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

}


