:root {
  --colore-primario: rgb(33,37,41)
}

#logo-container {
  height: 100px;
  aspect-ratio: 1/1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

}

#img-daddy {
  height: 200px;
  aspect-ratio: 4/3;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

}

#banner-black {
  background-color: var(--colore-primario);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 3rem;

  img {
   display: block;
    height:550px;
    width:750px;
  }

}

#us-p {
  text-align: center;
  max-width: 60%;
  margin: auto;
  padding-top: 11rem;
}
 

  

